.field {
  width: 500px;
  height: 500px;
  background-color: rgba(255, 228, 196, 0.572);
  border: 2px dotted purple;
  display: flex;
  position: relative;
}

.snake {
  width: 50px;
  height: 50px;
  background-color: rgb(18, 75, 4);
  border-radius: 50%;
}

.food {
  width: 50px;
  height: 50px;
  background-color: rgba(92, 92, 91, 0.143);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: absolute;
}

.hidden {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.game-container {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  position: relative;
}

body {
  background: hsla(240, 100%, 50%, 0.163);
}

h1 {
  font-style: italic;
  font-size: 54px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  float: top;
  margin-top: 30px;
  background-color: rgba(165, 42, 42, 0.158);
}

.score-section {
  width: 225px;
  display: grid;
  align-content: center;
  justify-content: center;
  font-size: 32px;
  padding: 62px;
  background-color: rgba(0, 255, 89, 0.079);
  padding-bottom: 130px;
}

.space {
  width: 225px;
}

.score {
  position: absolute;
  bottom: 42%;
  left: 11%;
}
